


/*------------------------------------------------------------------
    ICON BOXES
-------------------------------------------------------------------*/

.icon-wrapper {
    position: relative;
    cursor: pointer;
    display: block;
    z-index: 1;
}

.icon-wrapper i {
    width: 75px;
    height: 75px;
    text-align: center;
    line-height: 75px;
    font-size: 28px;
    background-color: #f2f3f5;
    color: #1f1f1f;
    margin-top: 0;
}

.small-icons.icon-wrapper:hover i,
.small-icons.icon-wrapper:hover i:hover,
.small-icons.icon-wrapper i {
    width: auto !important;
    height: auto !important;
    line-height: 1 !important;
    padding: 0 !important;
    color: #e3e3e3 !important;
    background-color: transparent !important;
    background: none !important;
    margin-right: 10px !important;
    vertical-align: middle;
    font-size: 24px !important;
}

.small-icons.icon-wrapper h3 {
    font-size: 18px;
    padding-bottom: 5px;
}

.small-icons.icon-wrapper p {
    padding: 0;
    margin: 0;
}

.icon-wrapper h3 {
    font-size: 21px;
    padding: 0 0 15px;
    margin: 0;
}

.icon-wrapper p {
    margin-bottom: 0;
    padding-left: 95px;
}

.icon-wrapper p small {
    display: block;
    color: #999;
    margin-top: 10px;
    text-transform: none;
    font-weight: 600;
    font-size: 16px;
}

.icon-wrapper p small:after {
    content: "\f105";
    font-family: FontAwesome;
    margin-left: 5px;
    font-size: 11px;
}

.effect-1 {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
}

.effect-1:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.effect-1 {
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}

.effect-1:after {
    top: -7px;
    left: -7px;
    padding: 7px;
    box-shadow: 0 0 0 2px #2750ff;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(.8);
    opacity: 0;
}

.effect-1:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.effect-1:after {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.effect-1:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}





/*------------------------------------------------------------------
    FEATURES
-------------------------------------------------------------------*/

.customwidget h1 {
    font-size: 44px;
    color: #ffffff;
    padding: 15px 0 25px;
    margin: 0;
    line-height: 1 !important;
    font-weight: 500;
}

.customwidget ul {
    padding: 0;
    display: block;
    margin-bottom: 30px;
}

.customwidget li i {
    margin-right: 5px;
}

body.app_version .customwidget li i{
	color: #ffffff;
}

.customwidget li {
    color: #ffffff;
    margin-right: 10px;
}

.image-center img {
    position: relative;
    margin: 0 0 80px;
    z-index: 10;
    padding-right: 30px;
    text-align: center;
}

.customwidget p {
    font-style: normal;
    font-size: 18px;
    padding: 0 0 10px;
}

.img-center img {
    width: 100%;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
}

.img-center {
    margin: auto;
}

#features li p {
    margin-bottom: 0;
    padding-bottom: 0;
}

#features li {
    display: table;
    width: 100%;
    margin: 35px 0;
    cursor: pointer;
}

.features-left,
.features-right {
    padding: 0 10px;
}

.features-right li:last-child,
.features-left li:last-child {
    margin-bottom: 0px;
    padding-bottom: 0 !important;
}

.features-right li i,
.features-left li i {
    width: 68px;
    height: 68px;
    line-height: 68px;
    display: table;
    border-radius: 6px;
    font-size: 26px;
	color: #ffffff;
    background-color: #AD1457;
    margin: 0 auto 22px;
    position: relative;
    text-align: center;
    z-index: 55;
    transition: .4s;
    padding: 0;
}

#features i img {
    display: table;
    margin: 0 auto;
}

.features-left li i:before,
.features-right li i:before {
    text-align: center;
}

.features-right li i .ico-current,
.features-left li i .ico-current {
    opacity: 1;
    transition: .4s;
    visibility: visible;
}

.features-right li i .ico-hover,
.features-left li i .ico-hover {
    opacity: 0;
    transition: .4s;
    visibility: hidden;
    top: 19px;
}

.features-right li:hover .ico-current,
.features-left li:hover .ico-current {
    opacity: 0;
    transition: .4s;
    visibility: hidden;
}

.features-right li:hover .ico-hover,
.features-left li:hover .ico-hover {
    opacity: 1;
    transition: .4s;
    visibility: visible;
}

.features-right i {
    float: left;
}

.fr-inner {
    margin-left: 90px;
}

.features-left i {
    float: right;
}

.fl-inner {
    text-align: right;
    margin-right: 90px;
}

#features h4 {
    text-transform: capitalize;
    margin: 0;
    font-size: 19px;
	padding-bottom: 15px;
}




/*------------------------------------------------------------------
    BUTTONS
-------------------------------------------------------------------*/

.navbar-default .btn-light {
    padding: 0 20px;
    margin-left: 15px;
}

.btn {
    border: 0 !important;
}

.nav-pills,
.effect-1:after,
.nav-pills > li > a,
.global-radius,
.btn-brd {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.btn-light {
    padding: 13px 40px;
    font-size: 18px;
    border: 1px solid #ffffff !important;
    color: #ffffff;
    background-color: #222222;
}

.btn-dark {
    padding: 13px 40px;
    font-size: 18px;
    border: 1px solid #ececec !important;
    color: #1f1f1f;
    background-color: transparent;
}

.btn-light:hover,
.btn-light:focus {
    border-color: rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.6);
}



body.app_version .dev-list .widget-title small{
	font-size: 14px;
}


/*------------------------------------------------------------------
    Zenith Slider
-------------------------------------------------------------------*/

* { box-sizing: border-box; }
.zenith_slider:before,
.zenith_slider:after,
.row:before,
.row:after{
  display: table;
  content: " ";
}
.zenith_slider:after,
.row:after{
  clear:both;
}

 .zenith_slider .row{
    z-index: 2;
     position: relative;
     min-height: 1px;
     padding-right: 15px;
     padding-left: 15px;
     width: 31.777777%;
     margin-right: -15px;
     margin-left: -15px;
}
 .zenith_slider ul {
    list-style: none;
     z-index: 2;
}

 .highlight h4:after{
    content: ' ';
     display: block;
     position: absolute;
     bottom: 0;
     width: 0;
     left: 0;
     margin: 0px;
     height: 2px;
     background: #AD1457;
     visibility: hidden;
     transition: all 0.45s ease;
     -webkit-transition: all 0.45s ease;
     -moz-transition: all 0.45s ease;
}
 .highlight.active h4:after{
    width: 100%;
    left:0;
    visibility: visible;
}

 .highlight span {
     text-align: center;
     display: inline-block;
     vertical-align: top;
     padding: 10px 12px;
     background: rgba(9,16,26,0.85);
    border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     background-image: linear-gradient(0deg, rgba(92,92,92,0)34%, rgba(92,92,92, 0.4)24%);
     -moz-background-image: linear-gradient(0deg, rgba(92,92,92,0)34%, rgba(92,92,92, 0.4)24%);
     -webkit-background-image: linear-gradient(0deg, rgba(92,92,92,0)34%, rgba(92,92,92, 0.4)24%);
     -o-background-image: linear-gradient(0deg, rgba(92,92,92,0)34%, rgba(92,92,92, 0.4)24%);
    transition: color 0.5s ease-in;
     -webkit-transition: color 0.5s ease-in;
     -ms-transition: color 0.5s ease-in;
     -moz-transition: color 0.5s ease-in;
     -o-transition: color 0.5s ease-in;
}
 .highlight-title {
    text-align: center;
     text-transform: uppercase;
     width: 105%
}

 .phone-holder{
     display: block;
     height: 600px;
     position: relative;
     top: 0px;
     left: 0px;
     width: 300px;
     margin: auto;
     overflow: hidden
}
 #fon{
    position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: url(images/phonebg_1.png) center top no-repeat;
     background-position-x: 0px;
     z-index: 2;
     overflow: hidden;
}
 .highlights-phone.wht .phone-holder #fon{
    background: url(images/phonebg_1.png) center top no-repeat;
     background-position-x: 0px;
}
 .hgi{
    position: absolute;
     top: 58px;
     left: 12px;
     width: 270px;
    height: 448px;
     visibility: hidden;
}
 .hgi img{
    width: 100%;
    height: 448px;
}
 .highlights-phone.wht .hgi{
    top: 71px;
}
 .hgi.active{
    visibility: visible;
}
.left-row{
    float: left;
     margin-right: 0;
}

 .left-row .highlight-title span{
    right: -8px;
}
 .right-row .highlight-title span{
    left: -8px;
}
 .right-row .highlight-title{
     text-align: left;
}

 .highlight-title span{
    position: relative;
     z-index: 1;
}
 .highlight-title .fa{
    color: #FFFFF0;
     font-size: 40px;
     width: 64px;
     height: 64px;
     text-align: center;
     vertical-align: middle;
}
 .highlight-title .fa:before{
    margin: 3px 0;
     display: block
}
 .highlight-title span {
    background: cornflowerblue;
    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
     -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
     transition: transform ease-out 0.1s, background 0.2s;
}
 .highlight-title span:after {
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    box-shadow: inset 0 0 0 2px rgba(9,16,26,0.76);
    opacity: 0;
     -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
     box-sizing: content-box;
    border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
}
 .highlight.active .highlight-title span {
    background: crimson;
     webkit-transform: scale(0.93);
    -moz-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);
}
 .highlight:hover .highlight-title span:after {
    -webkit-animation: sonarEffect 1.3s ease-out 75ms;
    -moz-animation: sonarEffect 1.3s ease-out 75ms;
    animation: sonarEffect 1.3s ease-out 75ms;
}




